ENV=production
BASE_URL=http://localhost:3000
MONGODB_URI=mongodb://mongo:27017/lexone
API_PORT=3000
CHAT_PORT=8081
SSL=0

BOOKING_PREFIX=IDM
USER_MEDIA_URL=/media/users/
TASKER_MEDIA_URL=/media/taskers/
CATEGORY_MEDIA_URL=/media/categories/
SERVICE_MEDIA_URL=/media/services/
DOCS_MEDIA_URL=/media/documents/
PORTFOLIO_MEDIA_URL=/media/portfolio/
BANNER_MEDIA_URL=/media/bannerimages/
ADMIN_MEDIA_URL=/media/admin_assets/
WEB_URL=http://localhost/
WEB_BANNER_MEDIA_URL=/media/bannerimages/

SES_SMTP_HOST=
SES_SMTP_PORT=587
SES_SMTP_USER=
SES_SMTP_PASS=
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME=LexOne
