REACT_APP_NODE_ENV=production
REACT_APP_MOCK_AUTH=false
REACT_APP_BASE_URL=http://localhost:3000
REACT_APP_SOCKET_URL=http://localhost:8081
REACT_APP_MEDIA_URL=http://localhost:3000
REACT_APP_FRONT_BASE_URL=http://localhost
REACT_APP_GOOGLE_MAP_API_KEY=
REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTHDOMAIN=
REACT_APP_FIREBASE_DBURL=
REACT_APP_FIREBASE_PROID=
REACT_APP_FIREBASE_STORAGE_BUCKET=
REACT_APP_FIREBASE_MSG_SENDID=
REACT_APP_FIREBASE_APP_ID=
REACT_APP_FIREBASE_MEASURE_ID=
REACT_APP_GOOGLE_ONE_TAP_SIGNIN_CLIENT_ID=
